 nav{
    display: inline-block; /* Отвечает за сбор в одну строчку*/
    background-color: #f9f8f5;
}
.head_img{
    background-color: #f9f8f5; /* картинка в head*/

}
.nav_li{
    display: inline;/* Отвечает за одну строчку внутри блока*/
    
}
h1{
    position: static;
    width: 1233px;
    height: 140px;
    left: 197px;
    top: 0px;

/* 1920/H2 */

    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 116%;
/* or 70px */


/* 000000 */

    color: #000000;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.img-text_3{
    display: inline-block;
    position: static;
    width: 430px;
    height: 876px;
    left: 0px;
    top: 0px;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
footer{
    display: inline-block; /* Отвечает за сбор в одну строчку*/
    background-color: #f9f8f5;

}


