 
 @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');
 
 nav{
    background-color: #f9f8f5;
    text-align: center;
}
nav p{
    display: inline-block
    ;/* Отвечает за одну строчку внутри блока*/
}
h1{
    font-family: 'Arimo', sans-serif;
}
#Radio_Marshall{
    
}
.img-text_3{
    display: inline-block;
    position: static;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #f9f8f5; /* Отвечает за сбор в одну строчку*/
}
footer div{
    display: inline-block; /* Отвечает за сбор в одну строчку*/
}


