@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
    --button-color-text: #647382;
}

 nav {
    background-color: #f9f8f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    padding: 10px 0px;
 }
nav a{
    color:black;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;

}
h1{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;

}
.favorite_playlists{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #647382;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    line-height: 42px;

    -webkit-text-stroke: 1px black; /*рамка для каждой буквы в тексте*/
}
p{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
#Radio_Marshall{
    margin: 0 auto;
}
.img_2{
    display: flex;
    justify-content: space-evenly;
    
}
.music{
    display: flex;
    flex-direction: column;
    margin: 0% 25%;
    width: 900px;
    height: 1106px;
}
.music p{
    margin-top: 40px;
}
.record_player_2_text{
    display: flex;
    margin: 40px 0px;
    
}
.record_player_2_text p{
    margin-left: 40px;

}
.list_music{
    display:flex;   
}
.natural_array{
    display: flex;
    justify-content: space-around;
}
.img-text_3{
    display: flex;
    justify-content: space-around;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #f9f8f5; /* Отвечает за сбор в одну строчку*/
}
.tag-link{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    text-decoration: none;
    color: var(--button-color-text);

    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid grey;
    border-radius: 2px;
}
.button_icon_text{
    display: flex;
    margin: 40px;
}
.button_icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 215px;
    height: 302px;
    margin-right: 98px;
}
.button_icon p{
    margin-top: 40px;
    margin-bottom: 32px;
}
.button_icon img{
    margin-top: 40px;

}
.button_icon hr{
    width: 24px;
    background-color: #DBE0E6;
    border:1px solid #DBE0E6;
}
.text{
    width: 900px;
    height: 580px;
}
