@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
    --button-color-text: #647382;
    --header-footer_background-color: #f9f8f5;
}
body{
    font-family: 'Arimo', sans-serif;
}
 nav {
    background-color: var(--header-footer_background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    padding: 10px 0px;
 }
nav a{
    color:black;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;

}
.favorite-tracks{
    margin-left: 10%;
    width: 60%;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;

}
#Radio_Marshall{
    width: 100%;
    margin-bottom: 40px;
}
.favorite_playlists{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #647382;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    line-height: 42px;

    -webkit-text-stroke: 1px black; /*рамка для каждой буквы в тексте*/
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.button_icon_text{
    display: flex;
    margin: 40px;
}
.button_icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 215px;
    height: 302px;
    margin-right: 98px;
}
.button_icon p{
    margin-top: 40px;
    margin-bottom: 32px;
}
.button_icon img{
    margin-top: 40px;

}
.button_icon hr{
    width: 24px;
    background-color: #DBE0E6;
    border:1px solid #DBE0E6;
}
.text{
    width: 900px;
    height: 580px;
}
.img_2{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.img_2 img{
    justify-content: space-evenly;
    width: 45%;
}
.for_music{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.music{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 900px;
}
.record_player_2_text{
    display: flex;
    margin-top: 32px;
    margin-bottom: 40px;
    
}
.record_player_2_text p{
    margin-left: 40px;

}
.list_music{
    display:flex;
    line-height: 32px;   
}
.music a{
    color: black;
    font-weight: bold;
}
.natural_array{
    display: flex;
    justify-content: center;
    margin: 0 3%;
}
.array_element_1{
    background-color: #f9f8f5;
    display: flex;
    width: 50%;
}
.array_element_1-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:80px;
}
.array_element_1-1 h3{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}
.array_element_1 hr{
    width: 40px;
    background-color: black;
    border:1px solid black;
}
.speaker{
    width: 50%;
}
.back_list_articles{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.back_list_articles img{
    display: flex;
    justify-content: center;
    margin-right: 16px;
}
.news{
    margin-left: 5%;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
}
.img-text_3{
    display: flex;
    Justify-content: center;
    margin: 0 3%;
}
.img-text_3-img{
    width: 95%;
}
.img-text_3-block{
    justify-content: space-evenly;
    width: 32%;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email h2{
    width: 50%;
    text-align: center;
    margin-top: 40px;
}
.email_string{
    width: 50%;
}
.email p{
    width: 50%;
    text-align: center;
    margin: 24px 0px;
}
.email_string hr{
    width: 100%;
}
.email_string input{
    width: 94%;
    outline: none;
    border: none;
    
}
.email_string div{
    text-align: center;
    margin: 56px auto;
}
button{
    background-color: #fff;
    padding: 0.5em 1em;
    border: 3px solid black;
}
button img{
    margin-left: 116px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
    background-color: var(--header-footer_background-color);
}
footer section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8em;
}
.styleinf a{
    color:black;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
}
.tag-link{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    text-decoration: none;
    color: var(--button-color-text);

    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid grey;
    border-radius: 2px;
    margin: 8px;
}