 
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
 nav {
    display: flex;
    justify-content: space-around;
}
h1{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;

}
h2{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #647382;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}
p{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
#Radio_Marshall{
    margin: 0 auto;
}
.img_2{
    display: flex;
    justify-content: space-around;
}
.natural_array{
    display: flex;
    justify-content: space-around;
}
.img-text_3{
    display: flex;
    justify-content: space-around;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #f9f8f5; /* Отвечает за сбор в одну строчку*/
}
/*footer div{
    display: inline-block; /* Отвечает за сбор в одну строчку
}*/


